
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
font-family: 'Poppins', sans-serif;
transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

}
.back-btn{
	float: left;
	color: black;
}